<ion-header>
    <ion-toolbar color="primary">
        <ion-button slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-button>
        <ion-title>Transferencias de Inventario</ion-title>
    </ion-toolbar>
</ion-header>

<!-- <ion-content fullscreen="true"> -->
<ion-content>
    <ion-grid>
        <ion-list>
            <ion-item style="padding: 12px 0px 12px 0px">
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Bodega Origen">{{code0}}</ion-input>
                    </ion-col>
                    <ion-col>
                        <ion-button (click)="scan0()">
                            Escanear
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-item>

            <ion-item style="padding: 12px 0px 12px 0px">
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Bodega Destino">{{code1}}</ion-input>
                    </ion-col>
                    <ion-col>
                        <ion-button (click)="scan1()">
                            Escanear
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-item>

            <ion-item style="padding: 12px 0px 12px 0px">
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Ubicacion Origen">{{code2}}</ion-input>
                    </ion-col>
                    <ion-col>
                        <ion-button (click)="scan2()">
                            Escanear
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-item>

            <ion-item style="padding: 12px 0px 12px 0px">
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Ubicacion Destino">{{code3}}</ion-input>
                    </ion-col>
                    <ion-col>
                        <ion-button (click)="scan3()">
                            Escanear
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-item>

            <ion-item style="padding: 12px 0px 12px 0px">
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Articulo">{{code4}}</ion-input>
                    </ion-col>
                    <ion-col>
                        <ion-button (click)="scan4()">
                            Escanear
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-item>

            <ion-item style="padding: 12px 0px 12px 0px">
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Cantidad">{{code5}}</ion-input>
                    </ion-col>
                    <ion-col>
                        <ion-button (click)="scan5()">
                            Escanear
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-item>




        </ion-list>

        <ion-row>
            <ion-col class="col-12">

                <ion-button type="">Limpiar</ion-button>

            </ion-col>
            <ion-col col-6>

                <ion-button type="">Confirmar</ion-button>

            </ion-col>
        </ion-row>

    </ion-grid>


    <!-- <ion-row class="ion-margin">
        <ion-row class="ion-margin">
            <ion-item>
                <ion-label style="text-align: center" class="ion-margin">Tranferencias de Inventarios</ion-label>
            </ion-item>
        </ion-row>
        <ion-row style="padding: 12px 0px 12px 0px">
            <ion-col>
                <ion-item>
                    <ion-input placeholder="Bodega Destino" required=""></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row style="padding: 12px 0px 12px 0px">
            <ion-col>
                <ion-item>
                    <ion-input placeholder="Ubicacion Origen"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row style="padding: 12px 0px 12px 0px">
            <ion-col>
                <ion-item>
                    <ion-input placeholder="Ubicacion Destino"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row style="padding: 12px 0px 12px 0px">
            <ion-col>
                <ion-item>
                    <ion-input placeholder="Articulo"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row style="padding: 12px 0px 12px 0px">
            <ion-col>
                <ion-item>
                    <ion-input placeholder="Lote"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row style="padding: 12px 0px 12px 0px">

            <ion-col>
                <ion-item>
                    <ion-input placeholder="Cantidad" type="number"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

    </ion-row> -->

    <!-- <ion-row style="padding: 12px 0px 12px 0px">
        <ion-col>
            <ion-item>
                <ion-button type="">Limpiar</ion-button>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item>
                <ion-button type="">Confirmar</ion-button>
            </ion-item>
        </ion-col>
    </ion-row> -->


</ion-content>